@model PlataformaRPHD.Web.ViewModels.RequestViewModel

@{
    ViewBag.Title = "STICket - Procurar Pedido";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Procurar Pedido</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Os Meus Pedidos", "Index")
            </li>
            <li class="active">
                <strong>Procurar Pedido</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Regressar à lista", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Procurar Pedido</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.Label("Título", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Title)
                                    @Html.ValidationMessageFor(model => model.Title)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Descrição", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Description)
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("De: ", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input type="date" name="FromTimeOfRegistration">
                                    @Html.ValidationMessageFor(model => model.FromTimeOfRegistration)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("A: ", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input type="date" name="ToTimeOfRegistration">
                                    @Html.ValidationMessageFor(model => model.ToTimeOfRegistration)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    @Html.ActionLink("Procurar", "ResultRequest", null, new { @class = "btn btn-primary" })
                                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white" })
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
