@model PlataformaRPHD.Web.ViewModels.InteractionViewModel

@{
    ViewBag.Title = "STICket - Detalhes da interação";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Detalhes da Interação</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Regressar à Lista de Pedidos", "Index", "Requests")
            </li>
            <li class="active">
                <strong>Detalhes</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>InteractionDetails Detalhes da Interação</h5>
                </div>
                <div class="ibox-content">


                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayName("Título")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Title)
                        </dd>


                        <dt>
                            @Html.DisplayName("Atribuído a")
                        </dt>


                        @if (Model.Task.Owner == null)
    {
                        <dd>
                            @Html.Display("Pedido por atribuir")
                        </dd>
                            }
                            else
                            {
<dd>
                        @Html.DisplayFor(model => model.Task.Owner.Name)
                    </dd>
}

                        <dt>
                            @Html.DisplayName("Estado do Pedido")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Task.Status)
                        </dd>

                    </dl>


	    @Html.ActionLink("Regressar ao Pedido", "Details", "Requests", new { id = Model.Request.Id }, new { @class = "btn btn-primary"})

                </div>
            </div>
        </div>
    </div>
 </div>













