@model PlataformaRPHD.Domain.Entities.Entities.Notification

@{
    ViewBag.Title = "Details";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Detalhes da Notificação</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Lista de Notificações", "Index")
            </li>
            <li class="active">
                <strong>Detalhes da Notificação</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalhes da Notificação</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayName("Serviço")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service.Name)
        </dd>                
                        
        <dt>
            @Html.DisplayName("Assunto de abertura")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenSubject)
        </dd>

        <dt>
            @Html.DisplayName("Assunto de fecho")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CloseSubject)
        </dd>

        <dt>
            @Html.DisplayName("Mensagem de abertura")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenBody)
        </dd>

        <dt>
            @Html.DisplayName("Mensagem de fecho")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CloseBody)
        </dd>

    </dl>


	    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>

