@model PlataformaRPHD.Web.ViewModels.InteractionViewModel

@{
    ViewBag.Title = "STICket - Resolver tarefa";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Resolução de tarefa</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Regressar à lista", "WithoutUser")
            </li>
            <li class="active">
                <strong>Resolver tarefa</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalhes da Tarefa</h5>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <dl class="dl-horizontal">

                            <dt>
                                @Html.DisplayName("Registado por")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Request.Owner.Name.FirstName)
                            </dd>

                            <dt>
                                @Html.DisplayName("Serviço")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.service.Name)
                            </dd>

                            <dt>
                                @Html.DisplayName("Origem")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Request.Origin.Name)
                            </dd>

                            <dt>
                                @Html.DisplayName("Impacto")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Request.Impact.Name)
                            </dd>

                            <dt>
                                @Html.DisplayName("Contacto")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Request.Contact)
                            </dd>

                            <dt>
                                @Html.DisplayName("Categoria")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Request.Category.Name)
                            </dd>

                            <dt>
                                @Html.DisplayName("Título")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Title)
                            </dd>

                            <dt>
                                @Html.DisplayName("Descrição")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Request.Description)
                            </dd>

                            <dt>
                                @Html.DisplayName("Estado da tarefa")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Task.Status)
                            </dd>

                        </dl>

                        <div class="form-group">
                            @Html.Label("Tipo de resolução", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select class="resolutions" id="resolution" name="resolutionType"></select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                @Html.Label("Descrição da resolução", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-content">
                                            @Html.TextAreaFor(model => model.ResolutionText, new { @class = "col-med-2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="submit" value="Resolver" class="btn btn-primary" />


                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                dataType: "json",
                type: "GET",
                url: "/DataSource/GetResolutionTypes",
                success: function (data) {
                    $(data).each(function (i) {
                        $(".resolutions").append('<option value="' + data[i].Resolution + '">' + data[i].Resolution + '</option>');
                    });
                }
            });
        });
    </script>
}
