@model PlataformaRPHD.Web.ViewModels.DataViewModel

@{
    ViewBag.Title = "STICket - Página principal";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Página principal</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Página principal</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <p>
        @Html.Label("Pedidos abertos: ")
        @Html.DisplayFor(model => model.PedidosAbertos)<br />
    </p>
    <p>
        @Html.Label("Pedidos fechados: ")
        @Html.DisplayFor(model => model.PedidosFechados)<br />
    </p>
    <p>
        @Html.Label("Tarefas abertas: ")
        @Html.DisplayFor(model => model.TarefasAbertos)<br />
    </p>
    <p>
        @Html.Label("Tarefas fechadas: ")
        @Html.DisplayFor(model => model.TarefasFechadas)<br />
    </p>
    <p>
        @Html.Label("Tarefas pendentes: ")
        @Html.DisplayFor(model => model.TarefasPendentes)<br />
    </p>
</div>

